<h1 class="text-center">PUBLIC RECIPES</h1>

<div class="container">
  <% @recipes.each do |recipe| %>
    <div class="row border border-dark border-2 p-2 mb-3">
      <div class="d-flex flex-column col-4">
        <h3>
          <%= link_to recipe_path(recipe), class: "text-decoration-none text-dark" do %>
            <%= recipe.name %>
          <% end %>
        </h3>
        <h5>By: <%= recipe.user.name %></h5>
        <% if can? :manage, recipe %>
          <%= button_to "Remove", recipe, class: "btn btn-link m-0 p-0", method: :delete %>
        <% end %>
      </div>
      <div class="d-flex flex-column col-8">
        <p>
          <strong>Total price:</strong>
          $<%= total_price_recipe(recipe) %>
        </p>
        <p>
          <strong>Number of ingredients:</strong>
          <%= total_ingredients_recipe(recipe) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
