<h1>New Food <h1>

<%= form_with model: @food do |food|  %>
<div>
<%= food.label :name  %> <br>
<%= food.text_field :name  %> <br>
<%= food.label :measurement_unit  %> <br>
<%= food.number_field :measurement_unit %><br>
<%= food.label :price  %> <br>
<%= food.number_field :price%><br>
<%= food.label :quantity  %> <br>
<%= food.number_field :quantity%><br>
<%= food.submit%>
<%end%>
</div>